#table thead {
  background-color: #d3751c;
  color: #ffffff;
}

#table tr:nth-child(even) {
  background-color: #ffcc9c;
}

#table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

#table th, #table td {
  text-align: left;
  padding: 8px;
}

#table tr:nth-child(even){
  background-color: #ffc996;
}